/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

#hide {
    display: none;
}

.nav-icons {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 30px;
  }
  .nav-icons li {
    margin-right: 10px;
    list-style-type: none;
  }
  
  .nav-icons li i {
    font-size: 24px;
  }
  
  .nav-icons li {
    padding: 10px 15px;
  }