/* Nav Bar */

.nav-icons {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 30px;
}
.nav-icons li {
  margin-right: 10px;
  list-style-type: none;
}

.nav-icons li i {
  font-size: 24px;
}

.nav-icons li {
  padding: 10px 15px;
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/bakery-2.jpeg);

/* Set a specific height */
height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
padding-bottom: 300px;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(197, 154, 154);
font-family:cursive;
}


button { 
  border-radius: 10px;
  justify-content: space-between;
}

/* Spacing of buttons in hero banner */
#sortBtn {
  display: flex;
  justify-content: space-evenly;
  
}

/* Colour of buttons in hero banner */
#sortBtn button {
  background-color: #F5E8C7;
}

/* Recipe cards section */

.recipeCards {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/* footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: auto;
}

.icons {
   list-style: none;
   margin: 0;
   padding: 0;
}

.icons li {
   display: inline-block;
   margin-right: 20px;
   font-size: 25px;
   color: #F5E8C7;
} 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.card {
  margin-right: 10px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5E8C7;
  color: #191919;
  border-color: #F5E8C7;
  
}

.card-text {
  margin-bottom: 40px;
}

.buttonStyle {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}